@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --main-text-color: hsl(0, 0%, 98%);
    --main-bg-color: hsl(0, 0%, 98%);
    --main-bg-img: url(./images/bg-desktop-light.jpg);
    --theme-bg-img: url(./images/icon-moon.svg);
    --circle-color: hsl(233, 11%, 84%);
    --input-bg: #ffffff;
  }
  
[data-theme="dark"] {
    --main-text-color: hsl(0, 0%, 98%);
    --main-bg-color: hsl(235, 21%, 11%);
    --main-bg-img: url(./images/bg-desktop-dark.jpg);
    --theme-bg-img: url(./images/icon-sun.svg);
    --circle-color:  hsl(234, 39%, 85%);
    --input-bg: #25273c;
}

*{
 box-sizing: border-box;
}

html{
    background-color: var(--main-bg-color);
}

body, html {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 18px;
   margin: 0;
   color: var(--main-text-color);
}

main {
    background-image: var(--main-bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    text-transform: uppercase;
    letter-spacing: .4em;
    font-size:  52px;
    margin-top: 1.5rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    width: 700px;  
}

.themeIcon {
    background-image: var(--theme-bg-img);
    height: 26px;
    width: 26px;
}

.themeIcon:hover{
    cursor: pointer;
}

.themeBtn{
    text-decoration: none;
    border: none;
    background-color: inherit;
}

#inputTodo{
    width: 700px;
    height: 65px;
    border: 0px solid transparent;
    border-radius: 5px;
    padding-top: 0.3rem;
    padding-left: 4rem;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--input-bg);
}

#inputTodo::placeholder{
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(236, 9%, 61%);
}

#inputTodo:focus{
    outline: none;
}


.circle{
    border: 1px solid var(--circle-color);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1.2rem;
}

#todo-list{
    padding-inline-start: 0;
}

#todo-list li{
    width: 700px;
    height: 65px;
    border: 0px solid transparent;
    padding-top: 1.2rem;
    padding-left: 4rem;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--input-bg);
    border-bottom: 1px solid gray;
    list-style-type: none;
    margin-left: 0;
    color: hsl(236, 9%, 61%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#todo-list li:first-child{
    border-radius: 5px 5px 0 0; 
}

.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
    height: 60px;
    border: 0px solid transparent;
    padding-top: 1.2rem;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--input-bg);
    border-bottom: 1px solid gray;
    color: hsl(236, 9%, 61%);
    border-radius: 0 0 5px 5px; 
    border-bottom: none;
    margin-top: -1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.filter{
    display: flex;
    justify-content: space-around;
}

.filter div:first-child{
    margin-right: 1rem;
}

.filter div:last-child{
    margin-left: 1rem;
}

.filter div:hover{
    cursor: pointer;
}

.clear{
    cursor: pointer;
}

.circle-list{
    border: 1px solid var(--circle-color);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    margin-top: -0.2rem;
    margin-left: -2.8rem;
}

.circle-list:hover{
    cursor: pointer;
}